<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/Personal.css"/>
    <include path="~/Content/sweetalert.css"/>
    <include  path="~/Content/datapicker.css"/>
  </styleBundle>
</bundles>