.navbar-inverse {
    background-color: #424242;
    border: none;
}
    .navbar-inverse .navbar-nav > li > a{
        color:white;
    }

        .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
            color: #ECECEA;
            background-color: transparent;
        }
    .navbar-inverse .navbar-brand{
        color:white;
    }



html, body {
    position: relative;
    height: 100%;
    background-color: #f0f0f0;
}

.login-container {
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output {
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

    #output.alert-success {
        background: rgb(25, 204, 25);
    }

    #output.alert-danger {
        background: rgb(228, 105, 105);
    }


.login-container::before, .login-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3.5px;
    left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;
}

.login-container::after {
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    -ms-transform: rotateZ(-2deg);
}

.avatar {
    width: 100px;
    height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

.form-box input {
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 40px;
    border: 1px solid #ccc;
    ;
    background: #fafafa;
    transition: 0.2s ease-in-out;
}

    .form-box input:focus {
        outline: 0;
        background: #eee;
    }

    .form-box input[type="text"] {
        border-radius: 5px 5px 0 0;
        text-transform: lowercase;
    }

    .form-box input[type="password"] {
        border-radius: 0 0 5px 5px;
        border-top: 0;
    }

.form-box button.login {
    margin-top: 15px;
    padding: 10px 20px;
}


.closeOffcanvas {
    font-size: 50px;
    margin-left: 120px;
    right: 50px;
    top: 0;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top:120px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.menu-btn-open {
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
    display: block;
    height: 64px;
    line-height: 64px;
    overflow: hidden;
    position: relative;
    text-indent: 100px;
}

    .menu-btn-open::before {
        background-clip: content-box;
        background-color: #ffffff;
        border-bottom: 6px solid #ffffff;
        border-top: 6px solid #ffffff;
        box-sizing: content-box;
        content: "";
        height: 6px;
        left: 50%;
        margin: 0 0 0 -18px;
        padding: 4px 0;
        position: absolute;
        top: 20px;
        width: 32px;
    }

.aside {
    background-color: #17784c;
    left: 0;
    position: absolute;
    top: 0;
    width: 64px;
    z-index: 400;
}


#nav-icon2 {
    animation-duration: 1s;
    cursor: pointer;
    height: 45px;
    left: 15px;
    position: fixed;
    top: 8px;
    transform: rotate(0deg);
    transition: all 1s ease-in-out 0s;
    width: 55px;
}

    #nav-icon2 span {
        background: white;
        display: block;
        height: 7px;
        opacity: 1;
        position: absolute;
        transform: rotate(0deg);
        transition: all 0.25s ease-in-out 0s;
        width: 50%;
    }

        #nav-icon2 span:nth-child(2n) {
            border-radius: 0 9px 9px 0;
            left: 50%;
        }

        #nav-icon2 span:nth-child(2n+1) {
            border-radius: 9px 0 0 9px;
            left: 0;
        }

        #nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
            top: 0;
        }

        #nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
            top: 14px;
        }

        #nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
            top: 28px;
        }

    #nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
        transform: rotate(45deg);
    }

    #nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
        transform: rotate(-45deg);
    }

    #nav-icon2.open span:nth-child(1) {
        left: 5px;
        top: 7px;
    }

    #nav-icon2.open span:nth-child(2) {
        left: calc(50% - 5px);
        top: 7px;
    }

    #nav-icon2.open span:nth-child(3) {
        left: -50%;
        opacity: 0;
    }

    #nav-icon2.open span:nth-child(4) {
        left: 100%;
        opacity: 0;
    }

    #nav-icon2.open span:nth-child(5) {
        left: 5px;
        top: 29px;
    }

    #nav-icon2.open span:nth-child(6) {
        left: calc(50% - 5px);
        top: 29px;
    }

@keyframes flip {
    0% {
        animation-timing-function: ease-out;
        transform: perspective(400px) translateZ(0px) rotateY(-360deg) scale(1);
    }

    40% {
        animation-timing-function: ease-out;
        transform: perspective(400px) translateZ(150px) rotateY(-190deg) scale(1);
    }

    50% {
        animation-timing-function: ease-in;
        transform: perspective(400px) translateZ(150px) rotateY(-170deg) scale(1);
    }

    80% {
        animation-timing-function: ease-in;
        transform: perspective(400px) translateZ(0px) rotateY(0deg) scale(0.95);
    }

    100% {
        animation-timing-function: ease-in;
        transform: perspective(400px) translateZ(0px) rotateY(0deg) scale(1);
    }
}

@keyframes flip {
    0% {
        animation-timing-function: ease-out;
        transform: perspective(400px) translateZ(0px) rotateY(-360deg) scale(1);
    }

    40% {
        animation-timing-function: ease-out;
        transform: perspective(400px) translateZ(150px) rotateY(-190deg) scale(1);
    }

    50% {
        animation-timing-function: ease-in;
        transform: perspective(400px) translateZ(150px) rotateY(-170deg) scale(1);
    }

    80% {
        animation-timing-function: ease-in;
        transform: perspective(400px) translateZ(0px) rotateY(0deg) scale(0.95);
    }

    100% {
        animation-timing-function: ease-in;
        transform: perspective(400px) translateZ(0px) rotateY(0deg) scale(1);
    }
}

.flip {
    animation-name: flip;
    backface-visibility: visible;
}

img{
    width:30px;
    height:30px;
}
h3 {
    font-size: 18px;
}


